<template>
  <div id="cuspay">
    <top title="支付"></top>
    <div id="price_info">
        <div class="moneyBox">
            <span>实付款：</span>
            <span class="moneyIcon">￥</span>
            <span class="moneyNum">{{price}}</span>
        </div>
        <div class="pay_type">
            <span class="text">支付方式：</span>
            <span class="type">支付宝</span>
        </div>
    </div>
    <!-- 微信外使用 -->
    <div class="notweixin" style="">
        <p class="payTip">订单已生成，请在半小时内完成支付</p>
        <div style="text-align: center;">
            <button class="payBtn" id="zhibao" @click="fastpay()">确认支付</button>
            <!-- <a href="http://192.168.0.110/m/mycart.php?type=fastpay2&oid=" target="_black">确认支付</a> -->
        </div>
    </div>
  </div>
</template>
<script>
import api from "../../api/customized";
import top from "@/components/decorate/top_back_title.vue";
export default {
  name: "cuspay",
  data(){
    return{
      pay_id:'',
      price:'',
      order_sn:''
    }
  },
  methods: {
    fastpay() {
      // console.log(this.order_sn);
      // api.cuspay({'order_sn':this.order_sn}).then(res=>{
      //   console.log(res);
      // }).catch(err=>{
      //   console.log(err);
      // })
      // let sn=(new Date()).getTime();
      let postdata={
          'lastname':sessionStorage.getItem('lastname'),
          'age':sessionStorage.getItem('age'),
          'level':sessionStorage.getItem('level'),
          'money':sessionStorage.getItem('money'),
          'adviser_id':sessionStorage.getItem('adviser_id'),
          'detail':sessionStorage.getItem('detail'),
          'minPrice':sessionStorage.getItem('minPrice'),
          'maxPrice':sessionStorage.getItem('maxPrice'),
          'cat':JSON.parse(sessionStorage.getItem('operation_category')),
          'photo':JSON.parse(sessionStorage.getItem('photo')),
          // 'order_sn':sn,
          'pay_id':this.pay_id,
          'order_amount':this.price,
      }
      console.log(postdata);
      api.saveCustomizedDemand(postdata).then(res=>{
          console.log(res);
          if(res.data.error_code==0){
              this.$router.push("/customizedOrder");
          }else{
              alert(res.data.msg);
          }
      }).catch(err=>{
          console.log(err);
      })
      
    }
  },
  mounted(){
      // console.log(JSON.parse(sessionStorage.getItem('photo')));
      this.order_sn=this.$route.query.pay_id;
      this.price=sessionStorage.getItem('price');
  },
  components: {
    top
  }
};
</script>
<style scoped>
.weui-toast {
  min-height: 1.5rem !important;
}

.moneyBox {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.3rem;
  color: #333;
}
.moneyBox,
.pay_list_title {
  background: #fff;
}
.moneyBox,
.payBtn {
  box-sizing: border-box;
}
.moneyIcon {
  font-size: 0.4rem;
  color: #ff527f;
}
.moneyNum {
  font-size: 0.5rem;
  color: #ff527f;
}
.payTip {
  line-height: 1rem;
  padding-left: 0.5rem;
  color: #777;
}
.payBtn {
  background: #ff8ea3;
  color: #fff;
  width: 90%;
  margin: 21px auto;
  border-radius: 0.1rem;
  outline: 0;
}
.payBtn,
.payTip {
  font-size: 0.3rem;
}
.payBtn,
.pay_list li {
  border: 0;
  height: 1rem;
}
.moneyBox,
.payBtn {
  box-sizing: border-box;
}
.order-box {
  margin-top: 0 !important;
}
.order-box .order-product {
  padding-top: 15px;
  padding-bottom: 15px;
}
.order-box .order-product,
.order-box .order-usesinfo,
.order-box .order-money {
  background-color: #fff;
  margin-top: 15px;
  padding: 0 15px;
}
.order-box .order-product .pic {
  width: 2rem;
  height: 2.1rem;
  float: left;
  margin-right: 15px;
  border-radius: 3px;
}
.order-box .order-product .order-product-info {
  position: relative;
  height: 2.1rem;
}
.order-box .order-product .order-product-info .title {
  font-size: 0.3rem;
  color: #333;
  font-weight: 400;
}
.order-box .order-product .order-product-info .price {
  bottom: 0;
  font-size: 0.3rem;
  color: #777;
  padding-top: 0.2rem;
}
.order-box .order-product .order-product-info .price i {
  font-size: 0.2rem;
  color: #ff527f;
}
.order-box .order-product .order-product-info .price em {
  color: #ff527f;
}
.order-box .order-product .order-product-info .order-number-box {
  border: 1px solid #b3b3b3;
  background-color: #fff;
  border-radius: 4px;
  letter-spacing: 0;
  height: 0.6rem;
  overflow: hidden;
  width: 2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.order-box .order-product .order-product-info .order-number-box .decrease {
  border: none;
  border-right: 1px solid #000000;
}
.order-box .order-product .order-product-info .order-number-box .increase {
  border: none;
  border-left: 1px solid #000000;
}
.order-box .order-product .order-product-info .order-number-box .decrease,
.order-box .order-product .order-product-info .order-number-box .increase {
  font-size: 0.7rem;
  font-weight: 300;
  color: #ff527f;
  width: 0.64rem;
  height: 0.6rem;
  line-height: 0.6rem;
  float: left;
  background-color: #fff;
  text-align: center;
}
.order-box .order-product .order-product-info .order-number-box .num {
  width: 0.7rem;
  height: 0.6rem;
  border: 0;
  border-radius: 0;
  font-weight: 700;
  color: #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  float: left;
  font-size: 0.3rem;
}
.ff {
  font-family: "SYFZLTKHJW--GB1-0", "Helvetica", "arial", "Microsoft YaHei";
}
.order-box .order-product,
.order-box .order-usesinfo,
.order-box .order-money {
  background-color: #fff;
  margin-top: 15px;
  padding: 0 15px;
}
.pay_type {
  font-size: 0.3rem;
  padding: 0.5rem;
}
.pay_type .text {
}
.pay_type .type {
  color: #ff527f;
}

.alert_mag {
  font-size: 0.3rem;
}
</style>