<template>
    <div id="user_choose_bank">
        <top title="选择银行卡"></top>
        <div class="content">
            <div v-for="(item,index) in result" :key="index" @click="chooseBank(item.bankname)" class="item vux-1px-b">
                <p class="row">{{item.bankname}}</p>
                <p class="row">{{item.banksn}}</p>
            </div>
        </div>
        <div class="add">
             <router-link to="/home/addBank" class="addBank">添加银行卡</router-link>
        </div>
    </div>
</template> 

<script>
import api from "../../api/wallet"
import top from "@/components/decorate/top_back_title.vue";
import {mapState,mapGetters} from 'vuex'
export default {
    name: 'user_choose_bank',
    data(){
        return{
            result:''
        }
    },
    methods:{
        chooseBank(argument){
            // this.bus.$emit('chooseBank',argument);
            this.$emit('chooseBank',argument);
            // this.$store.dispatch('changeBank',argument);
            // this.$router.back(-1);
        }
    },
    computed:{
        ...mapState({
            bus:state=>state.user.bus
        }),
    },
    mounted(){
        api.ajaxWalletGet('bank').then(res=>{
            this.result=res.data;
        }).catch(error=>{
            console.log(error);
        })
    },
    components:{
        top
    }
}
</script>

<style scoped>
    #user_choose_bank{
        background:#f0f0f0;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1111;
        height: 100%;
        overflow: hidden;
        font-size: 0.35rem;
    }
    .content{
        margin-top:0.2rem;
        
    }
    .item{
        background-color:#fff;
        /* border-bottom:1px solid #ccc; */
        padding:0.1rem;
    }
    .add{
        font-size: .3rem;
    }
    .addBank{
        display: inline-block;
        margin:0.2rem;
        padding:0.2rem;
        /*border: 1px solid #ccc;*/
        background: #ff5370;
        color:#fff;
    }
    .row{
        text-align:left;
        padding:0.1rem;
    }
</style>

