<template>
  <div id="user_login">
    <div v-bind:class="{'content_login':!hideClass,  'nav-hide': hideClass }">
         <div class="text">
                <div class="vux-1px include"><input  placeholder="手机/邮箱" type="text" v-model="username" class="input"></div>
         </div>
         <div class="text">
                <div class="vux-1px include"><input placeholder="请输入密码" type="password" v-model="password" class="input"></div>
         </div>
         <div class="text" v-if="input_code">
            <div class="code">
                <verificationCode :exist="true" :phoneNum="this.username" @inputCode="inputCode"></verificationCode>
            </div>
        </div>
         <div class="text">
               <input value="登录" type="button" @click="submit_login" class="login">
         </div>
         <div class="text">
                <router-link :to="{name:'container',query:{id:'29'}}" class="reg">新用户注册?</router-link>
                <router-link :to="{name:'container',query:{id:'30'}}" class="reg">忘记密码?</router-link>
         </div>
         <!-- <div v-show="testShow">
             <br><br><br><br><br><br><br><br><br><br><br><br>
            <div>
                testsssssssssffffffeeeeeee
                
            </div>
            
        </div> -->
    </div>
    <Alert v-bind:Show.sync="alertShow" :alerttType="alertType" :alertText="alertText"></Alert>
  </div>
</template>

<script>
import api from '../../api/user'
import common from '../../widget/lib/user'
import verificationCode from '@/components/common/verification_code.vue'
import md5 from 'js-md5';
import {mapGetters} from 'vuex'
export default {
    name: 'user_login',
    data(){
        return {
            username: '',
            password:'',
            backToPrevious:true,
            input_code:false,
            code:'',
            alertShow:false,
			alertType:'warn',
            alertText:'',
            
            docmHeight: document.documentElement.clientHeight,  //一开始的屏幕高度
            showHeight: document.documentElement.clientHeight,   //一开始的屏幕高度
            hideClass: false,
            timer: false,
            testShow:false,
        } 
    },
    computed:{
        ...mapGetters([
            'getIsBackToPrevious'
        ])
    },
    // watch:{
    //     showHeight: 'inputType'  
    // },
    methods: {
        // test(){
        //     this.testShow=true;
        // },
        submit_login(){
            let username=this.username;
            let password=this.password;
            let code=this.code;
            var self=this;
            if(!common.checkPhoneNum(self,username)){
                return false;
            }
            if(!common.checkPassword(self,password)){
                return false;
            }
            let postData = {
                'username':username,
                'password':md5(password),
                'vifcode':code,
            };
            api.login(postData).then(res=>{
                console.log(res);
                if(res.data.error_code==1){
                    if(this.getIsBackToPrevious==true){
                        this.$router.go(-1);
                    }else{
                        this.$router.push({name:'container',query:{id:'1'}});
                        // this.backToPrevious=true;
                        this.$store.dispatch('changeIsBackToPrevious',true);
                    }
                    api.user_center().then(res=>{
                        console.log(res);
                        let data=res.data;
                        this.$store.dispatch('changeUserinfo',data);
                    }).catch(error=>{
                        console.log(error);
                    })
                    this.loginSuccessToApp(username,md5(password));
                }else if(res.data.error_code==2){
                    // alert(res.data.msg);
                    this.alertShow=true;
                    this.alertType='warn';
                    this.alertText=res.data.msg;
                    // this.$router.push('/frequentLogin');
                    this.input_code=true;
                    
                }else{
                    this.alertShow=true;
                    this.alertType='warn';
                    this.alertText=res.data.msg;
                    // alert(res.data.msg);
                }
            }).catch(error=>{
                console.log(error);
            })
        },
        loginSuccessToApp(username,password){
            //调用Android的方法启动相册
            // alert('hello');
            window.network.loginSuccessToApp(username,password);
        },
        register(){
            this.$router.push({path:'/register'});
        },
        get_yanzhengma(){
            let mobileNum=this.username;
            var self=this;
            if(!common.checkPhoneNum(mobileNum)){
                return false;
            }
            common.getVerificationCode_exit(mobileNum,self);
        },
        inputCode(data){
            this.code=data;
        },
        inputType() {
            if (!this.timer) {
            this.timer = true
            let that = this
            setTimeout(() => {
                if (that.docmHeight > that.showHeight) {
                //显示class
                    console.log(that.docmHeight,that.showHeight);
                    this.hideClass = true;
                } else {
                //显示隐藏
                    console.log(that.docmHeight,that.showHeight);
                    this.hideClass = false;
                }
                that.timer = false;
            }, 20)
            }
        },
    },
    mounted(){
        // if(this.$route.query.BackToPrevious==false){

        //     this.backToPrevious=this.$route.query.BackToPrevious;
        // }
        window.onresize = () => {
            // return (() => {
               window.screenHeight = document.documentElement.clientHeight || document.body.clientHeight;
               this.showHeight = window.screenHeight;
               if(this.docmHeight>this.showHeight){
                     //alert('a');
                    window.scrollTo(0,100);

                    // window.scrollTo(0,window.screenHeight);
                    // this.hideClass = true;
               }else{
                   this.hideClass = false;
                //    alert('b');
               }
            // })()
        }
    },
    components:{
        // top,
        verificationCode,
        // userLogin
    }
}
</script>

<style scoped>
    #user_login{
        /* bottom:.1rem; */
        /* position:relative; */
        /* height:100%; */
    }
    .content_login{
        width:90%;
        margin:2rem auto;
        font-size: 0.35rem;
        text-align: center;
    }
    .nav-hide {
        width:90%;
        margin:1.5rem auto;
        font-size: 0.35rem;
        text-align: center;
    }
    .text{
        margin-bottom:0.3rem;
    }
    .include{
		width:65%;
		padding:0.2rem;
		font-size: 0.3rem;
        margin:0 auto;
        box-sizing: border-box;
	}
    .input{
        position: relative;
        z-index:100;
        display:block;
        width:100%;
        box-sizing: border-box;
        font-size: 0.3rem;
        margin:0 auto;
    }
    .login{
        width:65%;
        font-size: 0.3rem;
        padding:0.2rem 0.2rem 0.2rem 0.1rem;
        border:none;
        border-radius:0.2rem;
        background: #ff5370;
		color:#fff;
    }
    .reg{
        text-decoration:none;
        color:#ff5370;
        font-size:0.3rem;
    }


    .code{
		width:65%;
		/* padding:0.2rem; */
		font-size: 0.3rem;
        margin:0 auto;
        
	}
    .include1{
		width:70%;
        margin:0 auto;
		padding:.1rem;
	}
</style>
