<template>
    <div id="product">
        <div v-swiper:mySwiper="slidOptions" class="swiper-box">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(item, index) in slides" :key="index">
                    <img :src="item['goods_img']" />
                </div>
               
            </div>
                <div class="swiper-pagination" slot="pagination"></div>
            <!-- <div class="swiper-pagination swiper-pagination-bullets"></div> -->
        </div>
    </div>
</template>
<script>
    import api from "../../api/search"
   
    export default {
        data() {
            return {
            }
        },
       
        props: {
            slidOptions: {
                type: Object,
                request: true,
            },
            slides: {
                type: [Object, Array],
                request: true
            }
        }
    }
</script>
<style>
    .swiper-box {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .swiper-item {
        height: 5rem;
    }
    .swiper-item img {
        width: 100%;
        height: 100%;
    }
    .swiper-pagination-bullet {
        width: 0.1rem;
        height: 0.1rem;
        display: inline-block;
        border-radius: 100%;
        background: #000;
        opacity: 0.2;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #ff5370;
    }
</style>