<template>
    <div id="setup_phone">
        <router-link :to="{name:'container',query:{id:'38'}}" tag="div" v-if="isShow">
            <userSetupRow :params="params2" ></userSetupRow>
        </router-link>
        <router-link :to="{name:'container',query:{id:'38'}}" tag="div" v-else>
            <userSetupRow :params="params3" ></userSetupRow>
        </router-link>
    </div>
</template>
<script>
    import {mapState,mapGetters} from 'vuex'
    import userSetupRow from "@/components/user/row/user_setup_row.vue"
    export default {
        name:'setup_phone',
        computed:{
            ...mapGetters([
                'getUserinfo'
            ]),
            isShow(){
                if(this.getUserinfo.mobile_phone!=''){
                    return true;
                }else{
                    return false;
                }
            },
            params2(){
                return {
                    link:'/home/userEditphone',
                    text:'修改手机号',
                }
            },
            params3(){
                return {
                    link:'/home/userEditphone',
                    text:'绑定手机号',
                }
            },
        },
        components:{
            userSetupRow
        }
    }
</script>
<style scoped>

</style>


