<!--  -->
<template>
  <div>
    <component :is="'aa'"></component>
  </div>
  
</template>

<script>
export default {
  data () {
    return {
         title:'众康医疗机构列表'
    };
  },
 head () {
    return {
      title: this.title,
      meta: [
        { hid: 'description', name: 'description', content:this.$route.query.content  },
      ]
    }
  },


  methods: {},

  mounted(){},
}

</script>
<style  scoped>
</style>