.weui-cells:before{
    border-top: 0px!important;
}
.weui-cells {
    margin-top: 0!important;
    padding: .2rem 0!important;
    font-size: .32rem!important;
    line-height:0!important;
}
.weui-cell{
    padding:0!important;
}
.weui-cells:after{
    border-bottom: 0px!important;
}

.inline-calendar th {
    font-size: .35rem !important;
}

.inline-calendar td > span.vux-calendar-each-date {
    /* width: auto!important; */
    /* height: auto!important; */
    font-size: 0.2rem!important;
    /* line-height: .4rem!important; */
}

.vux-prev-icon, .vux-next-icon {
    width: .2rem!important;
    height: .2rem!important;
}

.inline-calendar a {
    font-size: .4rem!important;
}
.inline-calendar a {
    top: 0.4rem!important;
}
.vux-next-icon {
    top: 0.3rem!important;
}

.calendar-header {
    line-height: .9rem !important;
    font-size: .6rem !important;
}
.vux-calendar:before{
    border: 0px!important;
}
.vux-popup-mask{
    /* z-index: 500!important; */
}

 .v-transfer-dom{
    font-size: .3rem!important;
}
.weui-cell_radio{
    padding: .2rem!important;
}