<template>
  <div>
    <nuxt/>
      <div id="foot">
            <!-- <tabbar>
                <tabbar-item selected link="/container">
                    <span slot="icon" class="zk-icon-shouye icon"></span>
                    <span slot="label">首页</span>
                </tabbar-item>
                <tabbar-item link='/hospital'>
                    <span slot="icon" class="zk-icon-organization icon"></span>
                    <span slot="label">机构</span>
                </tabbar-item>
                <tabbar-item link='/doctor'>
                    <span slot="icon" class="zk-icon-nanxingmale100 icon"></span>
                    <span slot="label">医生</span>
                </tabbar-item>
                <tabbar-item link="/HProductList">
                    <span slot="icon" class="zk-icon-project-o icon"></span>
                    <span slot="label">项目</span>
                </tabbar-item>
                <tabbar-item link="/home/user">
                    <span slot="icon" class="zk-icon-iconfonticon5 icon"></span>
                    <span slot="label">个人中心</span>
                </tabbar-item>
            </tabbar> -->
            <!-- asd -->
            <!-- <foot></foot> -->
        </div>
  </div>
</template>
<script>
//  import foot from "@/components/common/foot.vue";
// export default {
//   comments:{
//       foot
//   }
// }
</script>


<style>
*{
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
 #foot {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 500;
    }
    .weui-tabbar__icon {
        width: 0.5rem!important;
        height: 0.5rem!important;
    }
    #foot .icon {
        font-size: 0.5rem;
    }
    .weui-tabbar__label {
        font-size: 0.3rem!important;
        line-height: 1.8!important;
    }
    .weui-bar__item_on {
        color: red!important;
    }
    .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon,
    .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i,
    .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
        color: #ff5370!important;
    }
</style>

