<template>
    <div class="index">
        我是主页
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: "众康医疗",
            topBar: {
                showBack: false
            }
        };
    },
    head () {
    return {
      title: this.title,
      meta: [
        { hid: 'description', name: 'description', content: '众康医疗APP首页' }
      ]
    }
  },
     layout: 'default',

};
</script>