<template>
    <div id="loading">
        <div class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- <spinner :type="'lines'" :size="'1rem'"></spinner> -->
    </div>
</template>
<script>
    // import {
    //     Spinner
    // } from 'vux'
    // export default {
    //     components: {
    //         Spinner
    //     }
    // }
</script>
<style>
    #loading {
        position: absolute;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    top: 50%;
    transform: translate(0,-50%);
    }
   
    .loading {
        width: 5rem;
        height: 1rem;
        margin: 0 auto;
        text-align: center;
        /* margin-top: 100px; */
    }
    .loading span {
        display: inline-block;
        width: 8px;
        height: 100%;
        border-radius: 4px;
        background: #f76260;
        -webkit-animation: load 1s ease infinite;
    }
    @-webkit-keyframes load {
        0%,
        100% {
            height: 40px;
            background: #f76260;
        }
        50% {
            height: 70px;
            margin: -15px 0;
            background: #f76260;
        }
    }
    .loading span:nth-child(2) {
        -webkit-animation-delay: 0.2s;
    }
    .loading span:nth-child(3) {
        -webkit-animation-delay: 0.4s;
    }
    .loading span:nth-child(4) {
        -webkit-animation-delay: 0.6s;
    }
    .loading span:nth-child(5) {
        -webkit-animation-delay: 0.8s;
    }
</style>